$color__grunge: #392338;
$color__green: #84B558;
$color__pink: #E7769B;

$color__link: $color__green;
$color__font: #a8a39c;
$color__bg: $color__grunge;


$rff: 'Fira Mono Regular';
$mff: 'Fira Mono Medium';
$bff: 'Fira Mono Bold';