@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&family=Roboto:wght@400;500&display=swap');

body{
    background: #000;
    color: #fff!important;
    background-image: none!important;
    font-family: 'Roboto', sans-serif!important;
}

#div_body{
    padding: 0;
}

#fej_fejlec_bg{
    display: none;
}

#infosav{
    width: auto!important;
    position: relative;
    padding: 40px 0 0 0;
    background: #232323;
    border-bottom: 1px solid #333;
    height: auto!important;
}

.infosav_r,
.infosav_l{
    display: none;
}

.infosav_c{
    float:none!important;
    width: 90%!important;
    height: auto!important;
    max-width: 1280px!important;
    margin: 0 auto!important;
    background: none!important;
    padding: 8px 0 15px 0;
    
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: -webkit-box;
    display: -ms-flexbox; /* ie 10 */
    display:-webkit-flex;
    display: flex;
    
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align:center; /* ie 10 */
    align-items: center;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    -webkit-box-pack: space-between;
    -ms-flex-pack: justify; /* ie 10 */
    justify-content: space-between;
}

#infosav_extra,
#infosav_adatok{
    margin: 0!important;
    padding: 0!important;
    float: none!important;
    width: auto!important;
}

#i_e_log, #i_e_free, #i_e_baratok, #i_e_konyvjelzo, #i_e_beallitasok, #i_e_level, #i_e_meghivo{
    float: none;
}

#infosav_extra{
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: -webkit-box;
    display: -ms-flexbox; /* ie 10 */
    display:-webkit-flex;
    display: flex;
    
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align:center; /* ie 10 */
    align-items: center;
}

#menu_all{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1100;
    width: auto!important;
    height: auto!important;
    margin: 0 auto!important;
    -webkit-box-shadow: 0px 2px 20px 3px rgba(0,0,0,0.33); 
    box-shadow: 0px 2px 20px 3px rgba(0,0,0,0.33);
    background: #333;
    border-bottom: 1px solid #666;
}

#menu_center{
    display: -ms-grid;
    display: grid;
    
    -ms-grid-template-columns: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    
    width: 90%!important;
    max-width: 1280px;
    margin: 0 auto;
    border-right: 1px solid #666;
}

#menu_center .menu_arrow{
    display: none!important;
}

.menu_text{
    background-image: none!important;
    text-indent: 0!important;
    float: none!important;
    border-left: 1px solid #666;
}

.menu_text a{
    width: auto!important;
    height: auto!important;
    color: #fff;
    font-size: 8px!important;
    margin: 0!important;
    padding: 10px 3px!important;
    text-align: center;
    background-image: none!important;
    text-transform: uppercase;
}

.menu_text a:hover,
.menu_text a:focus{
    background: #666!important;
    color: #fff!important;
}

#main_all{
    width: 90%!important;
    max-width: 90%!important;
}

.fobox_all,
.fobox_all > div{
    width: auto!important;
}

.fobox_fej{
    padding: 10px 0!important;
    text-align: center;
    height: auto;
}