
#main_all{

    .news_block_left{
        float: none;

        #add_news_close{
            left: auto!important;
            top: auto!important;
            text-align: center;
        }
    }

    #newslist{
        top: auto!important;
    }
}