#div_body{
    padding: 40px 0 0 0;
}

#container_in{
    @include ctn();

    *{
        width: auto!important;
    }
}

#main_all{

    .fobox_fej,
    .fobox_fej_alone,
    .lista_fej,
    .fobox_tartalom{
        background: none!important;
    }
}